<div class="nav-left-sidebar ">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Dashboard
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false"
                            data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Năng
                            lượng đốt</a>
                        <div id="submenu-5" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/emission">Nghành năng lượng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/makeBuild">Ngành chế tạo xây dựng</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/tradeGroup">Ngành thương mại và tổ chứcg</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/farmResident">Dân cư nông lâm nghiệp trang trại</a>
                                </li>

                            </ul>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>